<a href="https://colab.research.google.com/github/thakurakanksha288/learning_ml/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('/content/building_energy_data_extended.csv')
df1=pd.read_csv("/content/db_building_A.csv", encoding='latin1')
df2=pd.read_csv("/content/db_building_B.csv", encoding='latin1')
df.head()

,Timestamp,Building_ID,Energy_Usage (kWh),Temperature (°C),Humidity (%),Building_Type,Occupancy_Level
0,2025-01-01 00:00:00,B001,121.30,-7.20,79.36,Industrial,Low
1,2025-01-01 01:00:00,B001,230.76,12.62,80.37,Industrial,High
2,2025-01-01 02:00:00,B001,187.21,-1.33,37.74,Industrial,High
3,2025-01-01 03:00:00,B001,262.23,0.24,39.97,Industrial,High
4,2025-01-01 04:00:00,B001,472.97,5.44,89.29,Industrial,Medium

In [ ]:
df1.head()

,DATE,ENERGY,HDD18_3,CDD0,CDD10,PRECTOT,RH2M,T2M,T2M_MIN,T2M_MAX,...,NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.33,NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.34,NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.35,NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.36,NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.37,NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.38,NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.39,NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.40,NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.41,NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.42
0,01-01-2016 00:00,NaN,11.32,6.98,0.0,10.7,90.97,6.02,1.74,12.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01-01-2016 01:00,113.415,11.32,6.98,0.0,10.7,90.97,6.02,1.74,12.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01-01-2016 02:00,112.431,11.32,6.98,0.0,10.7,90.97,6.02,1.74,12.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01-01-2016 03:00,111.517,11.32,6.98,0.0,10.7,90.97,6.02,1.74,12.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01-01-2016 04:00,117.240,11.32,6.98,0.0,10.7,90.97,6.02,1.74,12.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df2.head()

,DATE,ENERGY,HDD18_3,CDD10,CDD0,PRECTOT,RH2M,T2M_MAX,T2M_MIN,ALLSKY,T2M,HOLIDAY
0,1/1/2016 0:00,NaN,11.32,0.0,6.98,10.7,90.97,12.23,1.74,1.7,6.02,1
1,1/1/2016 1:00,43.269,11.32,0.0,6.98,10.7,90.97,12.23,1.74,1.7,6.02,1
2,1/1/2016 2:00,45.159,11.32,0.0,6.98,10.7,90.97,12.23,1.74,1.7,6.02,1
3,1/1/2016 3:00,39.113,11.32,0.0,6.98,10.7,90.97,12.23,1.74,1.7,6.02,1
4,1/1/2016 4:00,36.299,11.32,0.0,6.98,10.7,90.97,12.23,1.74,1.7,6.02,1

In [ ]:
df.describe(include='all')

,Timestamp,Building_ID,Energy_Usage (kWh),Temperature (°C),Humidity (%),Building_Type,Occupancy_Level
count,7200,7200,7200.000000,7200.000000,7200.000000,7200,7200
unique,360,20,NaN,NaN,NaN,4,3
top,2025-01-15 23:00:00,B001,NaN,NaN,NaN,Industrial,Low
freq,20,360,NaN,NaN,NaN,2160,2432
mean,NaN,NaN,277.869099,12.450781,59.826208,NaN,NaN
std,NaN,NaN,129.693860,13.033681,17.275891,NaN,NaN
min,NaN,NaN,50.050000,-9.990000,30.000000,NaN,NaN
25%,NaN,NaN,165.965000,1.017500,44.957500,NaN,NaN
50%,NaN,NaN,279.410000,12.550000,59.670000,NaN,NaN
75%,NaN,NaN,387.527500,23.772500,74.860000,NaN,NaN
max,NaN,NaN,499.920000,35.000000,89.990000,NaN,NaN

In [ ]:
df.dtypes

Timestamp              object
Building_ID            object
Energy_Usage (kWh)    float64
Temperature (°C)      float64
Humidity (%)          float64
Building_Type          object
Occupancy_Level        object
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7200 entries, 0 to 7199
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Timestamp           7200 non-null   object
 1   Building_ID         7200 non-null   object
 2   Energy_Usage (kWh)  7200 non-null   float64
 3   Temperature (°C)    7200 non-null   float64
 4   Humidity (%)        7200 non-null   float64
 5   Building_Type       7200 non-null   object
 6   Occupancy_Level     7200 non-null   object
dtypes: float64(3), object(4)
memory usage: 393.9+ KB

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43848 entries, 0 to 43847
Data columns (total 56 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                                                                        Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                                                                        --------------  -----
 0   DATE                                                                                                                                                                                                                                                                                                                                                                                                                                          43848 non-null  object
 1   ENERGY                                                                                                                                                                                                                                                                                                                                                                                                                                        43746 non-null  float64
 2   HDD18_3                                                                                                                                                                                                                                                                                                                                                                                                                                       43848 non-null  float64
 3   CDD0                                                                                                                                                                                                                                                                                                                                                                                                                                          43848 non-null  float64
 4   CDD10                                                                                                                                                                                                                                                                                                                                                                                                                                         43848 non-null  float64
 5   PRECTOT                                                                                                                                                                                                                                                                                                                                                                                                                                       43848 non-null  float64
 6   RH2M                                                                                                                                                                                                                                                                                                                                                                                                                                          43848 non-null  float64
 7   T2M                                                                                                                                                                                                                                                                                                                                                                                                                                           43848 non-null  float64
 8   T2M_MIN                                                                                                                                                                                                                                                                                                                                                                                                                                       43848 non-null  float64
 9   T2M_MAX                                                                                                                                                                                                                                                                                                                                                                                                                                       43848 non-null  float64
 10  ALLSKY                                                                                                                                                                                                                                                                                                                                                                                                                                        43704 non-null  float64
 11  HOLIDAY                                                                                                                                                                                                                                                                                                                                                                                                                                       43848 non-null  int64
 12  Unnamed: 12                                                                                                                                                                                                                                                                                                                                                                                                                                   0 non-null      float64
 13  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain     0 non-null      float64
 14  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.1   0 non-null      float64
 15  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.2   0 non-null      float64
 16  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.3   0 non-null      float64
 17  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.4   0 non-null      float64
 18  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.5   0 non-null      float64
 19  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.6   0 non-null      float64
 20  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.7   0 non-null      float64
 21  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.8   0 non-null      float64
 22  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.9   0 non-null      float64
 23  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.10  0 non-null      float64
 24  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.11  0 non-null      float64
 25  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.12  0 non-null      float64
 26  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.13  0 non-null      float64
 27  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.14  0 non-null      float64
 28  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.15  0 non-null      float64
 29  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.16  0 non-null      float64
 30  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.17  0 non-null      float64
 31  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.18  0 non-null      float64
 32  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.19  0 non-null      float64
 33  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.20  0 non-null      float64
 34  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.21  0 non-null      float64
 35  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.22  0 non-null      float64
 36  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.23  0 non-null      float64
 37  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.24  0 non-null      float64
 38  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.25  0 non-null      float64
 39  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.26  0 non-null      float64
 40  NERGY - Energy Consumption (kWh) HDD18_3 - Heating Degree Days below 18.3 °C CDD0 - Cooling Degree Days above 0 °C CDD10 - Cooling Degree Days above 10 °C PRECTOT - Precipitation (mm/hour) RH2M - Relative Humidity at 2 m (%) T2M - Temperature at 2 m (C) T2M_MIN - Minimum Temperature at 2 m (C) T2M_MAX - Maximum Temperature at 2 m (C) ALLSKY - All-Sky Surface Longwave Downward Irradiance (W/m^2) HOLIDAY - Holidays in Spain.27  0 non-null      float64

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43848 entries, 0 to 43847
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     43848 non-null  object
 1   ENERGY   43781 non-null  float64
 2   HDD18_3  43848 non-null  float64
 3   CDD10    43848 non-null  float64
 4   CDD0     43848 non-null  float64
 5   PRECTOT  43848 non-null  float64
 6   RH2M     43848 non-null  float64
 7   T2M_MAX  43848 non-null  float64
 8   T2M_MIN  43848 non-null  float64
 9   ALLSKY   43704 non-null  float64
 10  T2M      43848 non-null  float64
 11  HOLIDAY  43848 non-null  int64
dtypes: float64(10), int64(1), object(1)
memory usage: 4.0+ MB

In [ ]:
df.replace("?",np.nan,inplace=True)
#for export and file to_csv

In [ ]:
#how to deal with missing values